
<form class="" action="new" name = "new" method="post">
  <fieldset>
    <legend>Create Restaurant</legend>
    <label for="name">Name</label>
    <input type="text" name="name" id="name"
    <%= restaurant.name ? 'value ='restaurant.name : 'placeholder = ""' %><br>
    <label for="city">Location</label>
    <%= restaurant.city ? %>
    value = restaurant.city
    <% : %>
    placeholder = "City"><br>
    <select name="state">
      <option value="AL">AL</option>
      <option value="AK">AK</option>
    </select><br>
    <select name="cuisine">
      <option placeholder="American">American</option>
      <option placeholder="Mexican">Mexican</option>
      <option placeholder="Thai">Thai</option>
      <option placeholder="Vietnamese">Vietnamese</option>
    </select><br>
    <input type="radio" name="rating" value="1" checked>
    <input type="radio" name="rating" value="2">
    <input type="radio" name="rating" value="3">
    <input type="radio" name="rating" value="4">
    <input type="radio" name="rating" value="5"><br>
    <label for="image">Image</label>
    <input type="text" name="image" id="image"
    <%= restaurant.image ? %>
    value = restaurant.image
    <% : %>
    placeholder = "Image URL"><br>
    <input type="textarea" name = "textarea" id = "textarea"
    <%= restaurant.description ? %>
    value = restaurant.description
    <% : %>
    placeholder = "Short Bio"><br>
    <input type="submit" value="Submit">
    <input type="submit" value="Cancel">
  </fieldset>
</form>
