<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <header>
      <h3>gTables</h3>
      <nav>
        <a href="/new">New Restaurant</a>
      </nav>
    </header>
    <main>
      <% restaurants.forEach(function(restaurant) { console.log(restaurant);%>
      <section>
        <img src="<%= restaurant.image %>"/>
      </section>
      <% }); %>
    </main>
  </body>
</html>
