<!DOCTYPE html>
<html>
  <head>
    <title>New Restaurant</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'> -->
  </head>
  <body>
    <header>
      <h2>New Restaurant</h2>
    </header>
    <main>
      <%- include editLayout.ejs %>
    </main>
  </body>
</html>
