body {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main {
  margin: 0 auto;
  width: 100%;
  height: 90%;
}

#restaurant {
  display: inline-block;
  width: 32%;
  height: 42%;
  border: solid 3px black;
  margin: 5px 5px 0px 0px;
  background-color: #E1E1E1;
}

header {
  margin: 0 auto;
  width: 90%;
  height: 10%;
  background-color: #7EC479;
  color: black;
}

header h2 {
  text-align: center;
  font-weight: lighter;
}

header a {
  color: white;
}

a {
  text-decoration: none;
}

nav{
  color: white;
  text-align: center;
  position: absolute;
  right: 20px;
  width: 20%;
  height: 20px;
}

#restaurantGallery {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

#submitButtons {
  align: bottom-right;
  position: absolute;
  right: 20px;
  width: 20%;
  height: 20px;
}

span {
  display: block;
}

#rating {
  text-align: right;
}

#restaurantImage {
  display: inline-flex;
  align-items: center;
  justify-content:center;
  vertical-align: bottom;
  width: 45%;
  height: 100%;
  margin: 5px 5px 0px 0px;
}

#restaurantInfo {
  display: inline-flex;
  align-items: center;
  justify-content:center;
  vertical-align: bottom;
  width: 45%;
  height: 100%;
  margin: 5px 5px 0px 0px;
}

#restaurantImage img {
  display:inline-block;/*remove later*/
  align-items: center;
  justify-content: center;
  height: 80%;
  vertical-align: center;
}

img {
  display: block;
  height: 50%;
  margin: 0 auto;
}

.fa {
  color: #FEED42;
}

fieldset
{
  border: 1px solid #black;
  width: 20em
}

legend
{
  color: black;
  /*background: #ffa20c;*/
  /*border: 1px solid black;*/
  padding: 2px 6px
}

.goButton
{
  background-color: #7FC378;
}

.stopButton
{
  background-color: #F06C53;
}

.col-1-3 {
  display: inline-block;
  vertical-align: bottom;
  width: 32%;
  height: 100%;
  margin: 5px 5px 0px 0px;
}

.col-2-3 {
  display: inline-block;
  vertical-align: bottom;
  width: 66%;
  height: 100%;
}

.restaurantInfo {
  width: 90%;
  height: 70%;
  margin: 0 auto;
}

fieldset {
  width: 97%;
  height: 95%;
  margin: 0 auto;
}

#description {
  height: 60px;
  width: 300px;
}
